* {
  color: black;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding: 1em 1em;
  height: 5vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav li {
  float: left;
  display: block;
  justify-content: space-around;
  padding: 1rem;
}

nav ul a {
  display: block;
  color: rgb(255, 94, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1 px solid rgb(255, 94, 0);
}

section {
  background-color: rgb(231, 231, 231);
}

section img {
  padding: 3rem;
  margin-left: 20rem;
  margin-top: 5rem;
}
section p {
  padding: 2rem;
  margin-left: 23rem;
  margin-top: 1%;
  width: 40%;
  font-size: larger;
  line-height: 2.5;
  border: 3px solid white;
}
section h3 {
  padding: 1rem;
  margin-left: 20rem;
}

section h5 {
  padding: 1rem;
  margin-left: 20rem;
}
